.content .questionHeader {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .questionHeader .title {
    position: relative;
    margin-bottom: 20px;
}

.content .questionHeader h2 {
    font-size: 40px;
}

.content .questionHeader .askQuestion {
    position: relative;
    padding: 20px;
    background: #333;
    border-radius: 5px;
}

.content .questionHeader .askQuestion a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 200;
    color: #fff;
}

.content .question {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #f4f4f4;
    border-radius: 5px 0 5px 0;
    padding: 10px;
    width: 600px;
    height: 100px;
    margin-bottom: 20px;
}

.content .question .vote {
   position: relative;
   display: inline-block;
}

.content .question .vote p {
    font-size: 20px;
}

.content .question .description {
   position: relative;
   display: flex;
}

.content .question .description a {
    display: inline-block;
    color: #333;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}


/* for question */

.content .questionBox {
    position: relative;
    width: 800px;
    /* background: #f4f4f4; */
    padding: 20px;
}

.content .questionBox .titleBox {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.content .questionBox .titleBox .title {
    position: relative;
    min-width: 100%;
}

.content .questionBox .titleBox .title h2 {
    color: #607d8b;
    font-weight: 600;
	font-size: 40px;
    border-bottom: 4px solid #ff4584;
    display: inline-block;
}
.content .questionBox .titleBox .title small {
    font-size: 10px;
    font-style: italic;
}

.content .questionBox .titleBox .vote {
    position: relative;
}

.content .questionBox .titleBox .vote p {
    font-size: 30px;
}

.content .questionBox .questionBody {
    width: 100;
    margin-top: 30px;

}

.content .questionBox .actionBtns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.content .questionBox .actionBtns button {
    width: 80px;
    height: 20px;
    outline: none;
    border: 1px #333;
    background: #555;
    color: #fff;
    margin: 20px 30px;
}

.content .questionBox .actionBtns a {
    text-decoration: none;
    text-align: center;
    width: 80px;
    height: 20px;
    outline: none;
    border: 1px #333;
    background: #555;
    color: #fff;
    margin: 20px 30px;
}

.content .questionBox .questionBody p {
    font-size: 30px;
    text-align: justify;
}

.content .answerBox {
    width: 100%;
}

.content .answerBox h3 {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 3px #607d8b;
}

.content .answerBox .answers {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.content .answerBox .answers .description{
    position: relative;
    width: 100%;
}

.content .answerBox .answers .description p {
    font-size: 25px;
}

.content .answerBox .answers .description small {
    font-size: 10px;
    font-style: italic;
}
.content .answerBox .answers .description .actionBtns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.content .answerBox .answers .description .actionBtns button {
    width: 80px;
    height: 20px;
    outline: none;
    border: 1px #333;
    background: #555;
    color: #fff;
    margin: 20px 30px;
}

.content .answerBox .answers .description .actionBtns a {
    text-decoration: none;
    text-align: center;
    width: 80px;
    height: 20px;
    outline: none;
    border: 1px #333;
    background: #555;
    color: #fff;
    margin: 20px 30px;
}

.content .answerBox .addAnswer {
    display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 100%;
}

.content .answerBox .addAnswer .formBx {
    width: 50%;
}

.content .answerBox .addAnswer .formBx h2 {
    color: #607d8b;
	font-weight: 600;
	font-size: 1.5em;
	text-transform: uppercase;
	margin-bottom: 20px;
	border-bottom: 4px solid #ff4584;
	display: inline-block;
	letter-spacing: 1px;
}

.content .answerBox .addAnswer .formBx .inputBx {
    width: 100%;
	margin-bottom: 20px;
}

.content .answerBox .addAnswer .formBx .inputBx input {
    width: 100%;
	padding: 10px 20px;
	outline: none;
	font-weight: 400;
	border: 1px solid #607d8b;
	font-size: 16px;
	letter-spacing: 1px;
	color: #607d8b;
	background: transparent;
	border-radius: 30px;
}

.content .answerBox .addAnswer .formBx .inputBx input[type="submit"] {
    background: #ff4584;
	color: #fff;
	outline: none;
	border: none;
	font-weight: 500;
	cursor: pointer;
	width: 50%;
}

.content .answerBox .addAnswer .formBx .inputBx input[type="submit"]:hover {
    background: #f53677;
}

.content .answerBox .addAnswer .formBx .inputBx textarea {
    width: 100%;
	padding: 10px 20px;
	outline: none;
	font-weight: 400;
	border: 1px solid #607d8b;
	font-size: 16px;
	letter-spacing: 1px;
	color: #607d8b;
	background: transparent;
	border-radius: 10px;
	min-height: 200px;
	resize: none;
}